<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos requeridos para Samsung Health SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Queries declaration para Android 11+ - Permite encontrar y comunicarse con Samsung Health -->
    <!-- Incluimos ambos package names posibles para compatibilidad con diferentes versiones -->
    <queries>
        <package android:name="com.samsung.android.app.shealth" />
        <package android:name="com.sec.android.app.shealth" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HealthMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StepActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.HeartRateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NutritionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SleepActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ChooseFoodActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.UpdateFoodActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ExerciseLocationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SkinTemperatureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodOxygenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ActivitySummaryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FloorsClimbedActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodGlucoseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodPressureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BodyCompositionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SleepGoalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.StepsGoalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ActiveCaloriesGoalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ActiveTimeGoalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WaterIntakeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WaterIntakeGoalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NutritionGoalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.EnergyScoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BodyTemperatureActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>